.custom-arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.custom-arrow svg {
  width: 30px;
  height: 30px;
  color: #a19d9d;
  background-color: rgba(94, 95, 95, 0.233);
  padding: 2px;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .custom-arrow svg {
    width: 15px;
    height: 15px;
  }
}
